<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.7.1">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.JDKAxis>
      <name>jdk</name>
      <values>
        <string>JDK8</string>
      </values>
    </hudson.matrix.JDKAxis>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>Secundario</string>
        <string>master</string>
      </values>
    </hudson.matrix.LabelAxis>
    <hudson.matrix.TextAxis>
      <name>Perfil</name>
      <values>
        <string>QA</string>
        <string>IT</string>
        <string>UT</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <combinationFilter>label==&quot;Secundario&quot;</combinationFilter>
  <builders/>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>EjemploPipeline</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>